<!-- <h1>Welcome to {{hotelName}}</h1> -->
 <app-header></app-header>


<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{'color': room.availableRooms ? 'green' : 'red'}" [innerText]="numberOfRooms"></div>
</div>

{{room?.availableRooms ?? 'No Rooms available'}}

<div *ngIf="selectedRooms">{{selectedRooms | json}}</div>

<div>
    <button class="btn btn-success" (click)="addRoom()">Add Rooms</button>
</div>

<div *ngIf="roomList">
    <app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button class="btn btn-outline-dark" (click)="toggle()">Toggle</button>

<button class="btn btn-outline-dark" (click)="editRoom()">Edit</button>

<h1>{{totolBytes}} loaded</h1>

<button class="btn btn-outline-dark" (click)="deleteRoom()">Delete</button>